@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Client Management System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Binary City Client Management System</h2>
        <p>
            The Client Management System is a sample application that
            demonstrates how I used Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Clients List</h2>
        <p>Create/View and unlink Clients.</p>
        <p><a class="btn btn-default" href="http://localhost:50074/Clients">See Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacts List</h2>
        <p>Create/View and unlink Contacts.</p>
        <p><a class="btn btn-default" href="http://localhost:50074/Contacts">See Here &raquo;</a></p>
    </div>
</div>